airflow/checkpoints/
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/airflow-worker.pid
airflow-webserver.pid
airflow.cfg
__pycache__/
*.pyc
.env
*.log
airflow/checkpoints/
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/airflow-worker.pid
**/.DS_Store
venv/
airflow/scripts/venv/
*.pid
*.db
airflow/data/
data/
data/
checkpoints/
